body {
font-family: 'Calibri';
background: black;
color: #07e4e8;
}


header {
text-align: center;
padding: 30px;
background: darkred;
}


.gallery {
display: flex;
justify-content: center;
gap: 40px;
padding: 40px;
}


.spell-card {
background: #2b2119;
border: 2px solid red;
border-radius: 10px;
padding: 15px;
width: 220px;
text-align: center;
cursor: pointer;

}


.spell-card:hover {
transform: scale(1.05);
}


.spell-card img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 8px;
}


.spell-page {
padding: 40px;
}


.spell-page h2 {
font-size:large;
margin-bottom: 20px;
}


.ingredients, .instructions {
background: #2b2119;
border: 2px solid #6b5237;
padding: 20px;
margin-top: 20px;
border-radius: 10px;
}