#container{
    display: flex;
    flex-direction: column;
   
}

body {
    background-image: url('starrybackground2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
 display: flex;
    justify-self: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

ul li a {
    
  display: block;
  color: white;
  padding: 16px 100px;
  text-decoration: none;
  border-radius: 10px;
}

ul li a:hover {
  background-color: #111111;
}

#logo {
    align-self: center;
    
}

#itemContainer{
    display: flex;
    align-self: center;
    flex-direction: column;

    
}

button{
    width: auto;
    font-size: 25px;
    margin-bottom: 5px;

}

#buy{
    margin-left: 180px;
}
#buy3{
    margin-left: 180px;
}

#moreInfo{
margin-left: 2px;
}

p {
    color: white;
    text-align: center;

}

#wand, #wand2 , #wand3{
    margin-bottom: 50px;
}

#purchase_{
    display: none;
    justify-self: center;
    font-size: 20px;
    background-color: green;
    width: auto;
}
#purchase3{
    display: none;
    justify-self: center;
    font-size: 20px;
    background-color: green;
    width: auto;
}

#testimonialContainer{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

#testimonials{
    display: flex;
    width: 50%;
}

#testimonials2{
    display: flex;
    width: 50%;
}

h1{
    text-align: center;
    font-size: 50px;
}

.words{
    color: black;
    font-size: 75px;
}