body {
    background-image: url('starrybackground.gif');
    background-size: cover;
    display: flex;
    flex-direction:column;
}

p {
    text-align: center;
    color: white;
}

img{
    align-self: center;
}

#item{
    flex-direction:row;
}