body {
    background-image: url('starrybackground.gif');
    background-size: cover;
    display: flex;
    flex-direction:column;
    color: white;
}

p {
    text-align: center;
    color: white;
}

img{
    align-self: center;
}

#items{
    flex-direction:row;
}

#capeimg1{
    width: 30%;
    /* min-height: 400px;
    line-height: 400px; */
    text-align: center;
    float: left;
}

#capeimg2{
    width: 30%;
    /* min-height: 400px;
    line-height: 400px; */
    text-align: center;
    float: left;
    margin-left:5%;
           
}

#capeimg3{
    width: 30%;
    /* min-height: 400px;
    line-height: 400px; */
    text-align: center;
    float:right;

}

#description{
    align-self:center;
}