#container {
    display: flex;
    justify-self: center;
    
    column-gap: 20px;
}

#container2 {
    display: flex;
    
    
    justify-content: space-between;
    
    
}

#container3 {
    display: flex;
    justify-self: center;
    background-color: #3b4252;
    column-gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}


#backwards{
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 20px;
    border-style: none;
    background-color: #4c566a;

}

#forward{
    width: 50px;
    height: 50px;
    align-self: center;
    border-radius: 20px;
    border-style: none;


}

#forward:hover,#backwards:hover,#magicCheckerButton:hover,#styleChange:hover{
    background-color: #434c5e;
}

#styleChange{
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
    font-size: 30px;
    background-color: #4c566a;
    border-style: none;
}

body{
    margin: 0%;
    margin-bottom: 50px;
    background-color: #2e3440;
    color: #e5e9f0;
}

#container3Text{
    font-size: 50px;
    margin-top: 200px;
}

#limit,#full,#forbid{
width: auto;
font-size: 40px;
}

#magicInputContainer{
    display: flex;
    justify-content: center;
    
}

#magicInputText{
    font-size: 45px;
}

#magicLevel{
    
    width: 700px;
    
    
    font-size: 50px;
    
}

#magicLevelCheckerContainer{
    display: flex;
    justify-self: center;
    
}

#magicCheckerButton{
    width: 200px;
    margin-left: 20px;
    background-color: #4c566a;
    border-style: none;

}

table{
    width: 60%;
    border-color:#d8dee9;
    border: 15;
    align:center;
}
